@page
@using NetTrueFlow
@model NetTrueFlowWeb.Pages.DenyModel
@{
    ViewData["Title"] = "Deny Connections";
}

<div class="text-center">
    <h1 class="text-danger">Deny Connections.</h1>

    <h2 class="text-danger">TCP Packet</h2>
    <table border="1">
        <tr><td> Group Deny Connection by SOURCES </td> <td> Group Deny Connection by DESTINATION </td> </tr>
    </table>

    <h2 class="text-danger">UDP Packet</h2>
    <h2 class="text-danger">ICMP Packet</h2>
</div>
