@page
@model NetTrueFlowWeb.Pages.DenyModel
@{
    ViewData["Title"] = "Deny Connections";
}

<h1 class="text-danger">Deny Connections.</h1>
<h2 class="text-danger">TCP</h2>
<h2 class="text-danger">UDP</h2>
<h2 class="text-danger">ICMP</h2>
